/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: rgba(38, 38, 175, 0.376);
  background-image: var(--cover-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

}

.header {
    position: relative;
    height: 100vh;
    min-height: 668px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    gap: 39px;
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 25px;
    color: rgb(255, 0, 112);
    justify-items: end;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: 1px solid rgb(255, 0, 112);
  border-right: 1px solid rgb(255, 0, 112);
  margin: 10px;
}

.header__decor {
  text-transform: uppercase;
  padding: 10px 38px 0 0;


}

.header__decor::after {
  display: block;
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: rgb(255, 0, 112);
  top: 18px;
  right: 17px;
  box-shadow: 0 0px 9px 3px rgb(255, 0, 112);

}

.header__theme-menu {
  gap: 10px;
  padding-right: 10px;

}